body{
 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-something: "antialiased";
    -moz-osx-font-smoothing: "grayscale"

}
code{
    font-family: source-code-pro, Menlo, Console, 'Courier New',
    monospace

}
#suportHero{
    background-color: rgb(56,126,209);
    color: white;
}

#supportWrapper{
    display: flex;
    justify-content: space-between;
    margin:0 150px;
}

#suportHero input{
    padding: 20px 50px;
    width: 100%;
    font-size: 20px;
 border-radius: 10px;
border: none;
}

.links {
    display: flex;
    flex-direction: row;
}

.Nav-item{
    display: flex;
}